<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Service</servlet-name>
        <servlet-class>org.ipn.pro.controler.Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controler</servlet-name>
        <servlet-class>controlador.Controler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletS</servlet-name>
        <servlet-class>controlador.DeletS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerListS</servlet-name>
        <servlet-class>controlador.VerListS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateS</servlet-name>
        <servlet-class>controlador.UpdateS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficaJFCS</servlet-name>
        <servlet-class>controlador.GraficaJFCS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesAlumnosS</servlet-name>
        <servlet-class>controlador.ProcesAlumnosS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerGraficaS</servlet-name>
        <servlet-class>controlador.VerGraficaS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailS</servlet-name>
        <servlet-class>controlador.mailS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Service</servlet-name>
        <url-pattern>/Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controler</servlet-name>
        <url-pattern>/Controler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletS</servlet-name>
        <url-pattern>/DeletS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerListS</servlet-name>
        <url-pattern>/VerListS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateS</servlet-name>
        <url-pattern>/UpdateS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficaJFCS</servlet-name>
        <url-pattern>/GraficaJFCS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesAlumnosS</servlet-name>
        <url-pattern>/ProcesAlumnosS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerGraficaS</servlet-name>
        <url-pattern>/VerGraficaS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailS</servlet-name>
        <url-pattern>/mailS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
